@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;500;600;700&display=swap');

:root {
  --color-text-menu: #06afbe;
  --background-color: #11283a;
}

*{
  box-sizing: border-box;
}

body {
  background: rgb(32,43,60);
  background: linear-gradient(180deg, rgb(32,43,60) 0%, rgb(32,43,60) 65%, rgba(0,110,127,1) 100%);

  font-family: 'Anybody', cursive;
  font-size: 22px;
}

#header {
  width: 100%;
}

p {
  color: #06AFBE;
}

.main-color {
  color: #06AFBE;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
}

.header {
  padding-top: 50px;
  display: flex;
  height: 100px;
  align-items: center;
}

h1,h2{
  margin: 0;
  color: white;
}

/*Boxs*/

.box-container{
  /* padding-top: 50px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.box-container::after{
  content: "";
  width:439px;
  height: 740px;
  background-image: url(./img/layer-right.png);
  background-size: cover;
  position: absolute;
  top: 800px;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.box{
  width: 350px;
  height: 330px;
  border-radius: 10px;
  background-color: rgb(20, 29, 39);
  /* padding: 4rem 8rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  /* max-width: 420px; */
}

.box img{
  height: 150px;
}

.box h3{
  color: var(--color-text-menu);
}

h2 {
  font-size: 2.3em;
  background: #FFFFFF;
  background: #06AFBE;
  background: linear-gradient(to top left, #06AFBE 0%, #FFFFFF 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bolt {
  width: 60px;
  height: auto;
}

#invoice-text {
  word-wrap: break-word;
}

.jumbotron {
  padding: 30px;
}

/* animated checkmark */
.checkmark_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 4% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

 a:link {
  color: #2ec0cd;
}

/* selected link */
a:active {
  color: #2ec0cd;
}

/* visited link */
a:visited {
  color: #2ec0cd;
}

#organizer {
  width: 200px;
}

.sponsor {
  width: 200px;
}

a.btn:link {
  color: #fff;
}

a.btn:visited {
  color: #fff;
}

.footer{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  background-color: var(--background-color);

  color: white;
}

.footer-container{
  padding: 25px 120px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer_link{
  color: #fff;
}

.footer_icon{
  font-size: 20px;
}

.avatar {
  width: 200px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

li {
  color: #06AFBE;
}

h4 {
  color: #fff;
}

@media screen and (max-width:1000px){

  .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
  }

  .header{
    padding-left: 90px;
  }

  .footer-container{
    padding: 25px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
}