{{#*inline "content"}}
    <div class="mt-5 mb-5 attendee-form collapse">
      <div class="row">
        <p class="text-center">Si ya realizaste el registro y no tienes tu ticket ingresa tu email</p>
      </div>
      <form autocomplete="off" class="row mt-3 g-3" id="form">
        <div class="col">
          <div class="form-floating mb-3">
            <input type="email" id="email" class="form-control" placeholder="juan@trueno.com" required>
            <label for="email">Email</label>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-light btn-lg">Enviar</button>
          </div>
        </div>
      </form>
    </div>
{{/inline}}
{{~> main~}}
