{{#*inline "content"}}
    <div class="d-flex justify-content-evenly align-items-center">
      <img id="header" src="/public/img/header.jpg" />
    </div>
    <div id="ancla"></div>
    <div class="mt-5 mb-5 attendee-form collapse">
      <div class="row">
        <p class="text-center">Ingrese sus datos para registrarse</p>
      </div>
      <form autocomplete="off" class="row mt-3 g-3" id="form">
        <div class="col">
          <div class="form-floating mb-3">
            <input type="text" id="firstname" placeholder="Juan" class="form-control" required>
            <label for="firstname">Nombre</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="lastname" placeholder="Trueno" class="form-control" required>
            <label for="lastname">Apellido</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" id="email" class="form-control" placeholder="juan@trueno.com" required>
            <label for="email">Email</label>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-light btn-lg">Enviar</button>
          </div>
        </div>
      </form>
      <h4>
        El registro previo y la confirmación de la asistencia, por parte del usuario, se realiza por cuestiones de organización. Por ende, ambas instancias no aseguran su cupo el día del Evento presencial. Los lugares para el Evento serán distribuidos según orden de llegada de los usuarios.
      </h4>
      <h4>
        IMPORTANTE: Si realizaste el pago pero no has podido descargar tu entrada puedes descargarla <a href="/check_user">aquí</a>
      </h4>
    </div>

    <div id="invoice" class="mt-5 mb-5 collapse bg-light rounded-3 jumbotron">
      <h3 id="invoice-memo">#LightningHackday POAP</h3>
      <h3><span id="invoice-amount">0</span> SATs</h3>
      <p class="lead">Para continuar, haga un pago con una billetera con soporte Bitcoin Lightning Network a la siguiente factura.</p>
      <p class="lead">Esta factura expira en 10 minutos.</p>
      <hr class="my-4">
      <div align="center" id="qr-code" class="mb-3"></div>
      <h6>Factura:</h6>
      <p id="invoice-text"></p>
      <a id="open-wallet" type="button" href="" class="btn btn-info btn-sm">Abrir wallet</a>
    </div>

    <div id="success-box" class="mt-5 mb-5 collapse bg-light rounded-3 jumbotron">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark_circle" cx="26" cy="26" r="25" fill="none"></circle>
        <path class="checkmark_check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
      </svg>
      <p class="lead" align="center">¡Pago realizado correctamente! Nos vemos en el #LightningHackday 😀</p>
      <p class="lead" align="center">Presente este QR en la entrada:</p>
      <hr class="my-4">
      <div align="center" id="ticket-qr-code" class="mb-3"></div>
      <div class="mb-3" align="center">
        <a id="pdffile" target="_blank" class="btn btn-primary btn-lg btn-block">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-pdf" viewBox="0 0 16 16">
            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
            <path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.701 19.701 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.187-.012.395-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.065.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.716 5.716 0 0 1-.911-.95 11.642 11.642 0 0 0-1.997.406 11.311 11.311 0 0 1-1.021 1.51c-.29.35-.608.655-.926.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.27.27 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.647 12.647 0 0 1 1.01-.193 11.666 11.666 0 0 1-.51-.858 20.741 20.741 0 0 1-.5 1.05zm2.446.45c.15.162.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.881 3.881 0 0 0-.612-.053zM8.078 5.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
          </svg>
          Descargar entrada
        </a>
      </div>
    </div>

    <div class="mt-5">
      <p>
        El “Lightning Hackday” es un evento presencial y gratuito destinado a todo aquel que quiera entender el potencial de lightning network y para quienes ya estén interiorizados y quieran profundizar las posibilidades que ofrece. <span class="fw-bolder">Durante todo el día podrás participar de charlas, workshops y una "Mesa de Hacking Lab" para poner en juego distintos tipos de desarrollo de lightning.</span> ¡Vení a pasar un gran momento junto a BitcoinAR y la comunidad de LN!*
      </p>
      <p class="fst-italic">
        *Unos días antes del evento te llegará un mail que deberás responder para confirmar tu asistencia.
      </p>

      <h2 class="mb-4">¿Dónde y cuándo?</h2>
      <p>Evento Presencial en <a href="https://www.areatresworkplace.com/home" target="_blank">AreaTres</a> <a href="https://g.page/A3-ElSalvador?share" target="_blank">El Salvador</a>, (El Salvador 5218, CABA, Buenos Aires.)</p>
      <p>Sábado 27 de agosto de 10.00 a 17.30 hs.</p>

      <h2 class="mb-4">Temario de la jornada</h2>
      <ul>
        <li>Tipos de canales de pago</li>
        <li>Nodos lightning</li>
        <li>Enrutamiento</li>
        <li>Wallets</li>
        <li>Desarrollo de lightning apps</li>
      </ul>

      <p>¡A las 12 hs tendremos un break para compartir un almuerzo juntos!</p>
    </div>
    <hr />
    <section>
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h2 class="mb-4">Ponentes</h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
          <div>
            <div class="avatar mx-auto">
              <img src="https://pbs.twimg.com/profile_images/1328493987993432065/hmAgZ0on_400x400.jpg"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <a href="https://twitter.com/hmarinot1" target="_blank" class="mb-2">Hernán Mariño</a>
              <p class="dark-grey-text mt-4">
                Bitcoin core dev
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div>
            <div class="avatar mx-auto">
              <img src="https://pbs.twimg.com/profile_images/1540776998535999489/FP04Jh6W_400x400.jpg"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <a href="https://twitter.com/bourbonni" target="_blank" class="mb-2">Nicolas Bourbon</a>
              <p class="dark-grey-text mt-4">
                Muun wallet
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div>
            <div class="avatar mx-auto">
              <img src="https://pbs.twimg.com/profile_images/1506826060972933128/G1krP9Gt_400x400.jpg"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <a href="https://twitter.com/jdrangosch" target="_blank" class="mb-2">Julian Drangosch</a>
              <p class="dark-grey-text mt-4">
                ⚡ Electricity wizard ⚡
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div>
            <div class="avatar mx-auto">
              <img src="https://pbs.twimg.com/profile_images/1101580578867036162/6R4SQXdf_400x400.jpg"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <a href="https://twitter.com/FAndragnes" target="_blank" class="mb-2">Federico Andragnes</a>
              <p class="dark-grey-text mt-4">
                Bitcoineta OG
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div>
            <div class="avatar mx-auto">
              <img src="https://pbs.twimg.com/profile_images/1521630271774330881/C03BFkUl_400x400.jpg"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <a href="https://twitter.com/paleobit" target="_blank" class="mb-2">Paleobit</a>
              <p class="dark-grey-text mt-4">
                Business Development Argentina en paxful
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div>
            <div class="avatar mx-auto">
              <img src="https://pbs.twimg.com/profile_images/1466784936036388870/TZ7p02R4_400x400.jpg"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <a href="https://twitter.com/negrunch" target="_blank" class="mb-2">Francisco Calderón</a>
              <p class="dark-grey-text mt-4">
                Lightning dev
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div>
            <div class="avatar mx-auto">
              <img src="https://pbs.twimg.com/profile_images/2707494277/1fdde72b97bd8f702273065552e24464_400x400.jpeg"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <a href="https://twitter.com/dolcalmi" target="_blank" class="mb-2">Juan Lopez</a>
              <p class="dark-grey-text mt-4">
                Galoy Dev
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div>
            <div class="avatar mx-auto">
              <img src="https://pbs.twimg.com/profile_images/1405904392654577676/RPbgx-bQ_400x400.jpg"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <a href="https://twitter.com/BitcoinAR" target="_blank" class="mb-2">Voluntario BitcoinAR</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="mt-5 mb-5 d-flex justify-content-center">
      <div class="mt-3">
        <h2>
          Organiza
        </h2>
      </div>
    </div>

    <div class="mt-5 mb-5 d-flex justify-content-center">
      <div class="mt-3 align-items-center">
        <a href="https://bitcoinargentina.org/" target="_blank" class="mb-2">
          <img id="organizer" class="rounded mx-auto d-block" src="/public/img/btc-arg.png" />
        </a>
      </div>
    </div>

    <div class="mt-5 mb-5 d-flex justify-content-center">
      <div class="mt-3">
        <h2>
          Patrocinan
        </h2>
      </div>
    </div>

    <div class="mt-5 mb-5 row g-2">
        <div class="col-md">
          <a href="https://fulgur.ventures/" target="_blank">
            <img class="rounded float-start sponsor" src="/public/img/fulgur.png" />
          </a>
        </div>
        <div class="col-md">
          <a href="https://galoy.io/" target="_blank">
            <img class="rounded float-end sponsor" src="/public/img/galoy.png" />
          </a>
        </div>
    </div>
{{/inline}}
{{#*inline "scripts"}}
    <script src="/public/js/kjua.min.js"></script>
    <script src="/public/js/main.js"></script>
{{/inline}}
{{~> main~}}