<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/public/css/style.css" rel="stylesheet">
  <title>Registro Lightning Hackday</title>
</head>
<body>
  <div class="container">
    {{~> content}}
  </div>
  <footer class="footer">
    <div class="footer-container">
      <div>
        © Engineered by <a href="https://twitter.com/negrunch" target="_blank">@negrunch</a>.
      </div>
      <div>
        <a href="https://github.com/grunch/danta" target="_blank" rel="noopener noreferrer" class="footer_link">
          <i class="fab fa-github footer_icon"></i>
        </a>
      </div>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/38c07037bc.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
  <script src="/public/js/kjua.min.js"></script>
  <script src="/public/js/main.js"></script>
</body>
</html>